


.grid{
    display: flex;
   margin: 4rem 10%;
    
    width:auto;
    

}
.mid{
    display: flex;
}
.box1,.box2{
    width:25rem;
    height: 25rem;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-right: 1rem;
}

.box1{
   
    background-image: linear-gradient(to bottom right, #4401FF, #DF01FF);
}

.box2{
    background-color: #F7F7F7;
}

@media all and (min-width:600px)and (max-width:1100px){
    .grid{
        flex-direction: column;
       
    }
    .box1{
        width: 80vw;
        margin-bottom: 2rem;
        
    }
   
    
}



@media all and (max-width:600px){
    .grid{
        flex-direction: column;
    }
    .mid{
        flex-direction: column;
    }
    .box1, .box2{
        margin-bottom: 2rem;

    }
}




